<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Book Store</title>
        <link rel="stylesheet" th:href="@{/styleHome.css}">
    </head>
    <body>
        <div class="main">
            <div class="top-taskbar">
                <button id="goHomeBtn">Book Store</button>
                <input type="text" placeholder="Tìm kiếm" id="searchInput">
                <button id="logoutBtn">Đăng xuất</button>
                <button id="cartBtn">Giỏ hàng</button>
            </div>

            <div class="main-view">
                <div class="sidebar">
                    <p id="literatureBook">Văn học Việt Nam</p>
                    <p id="itBook">Sách công nghệ thông tin</p>
                    <p id="scienceBook">Sách khoa học</p>
                    <p id="comicBook">Truyện tranh</p>
                    <p id="novel">Tiểu thuyết</p>
                </div>
                <div class="main-view2">
                    <div class="viewBook" th:each="book : ${books}">
                        <img th:src="${book.urlImg}">
                        <p th:text="${book.name}"></p>
                        <button class="addToCart" th:data-book-id="${book.bookId}">Thêm vào giỏ hàng</button>
                        <button class="viewDetailBtn" th:data-book-id="${book.bookId}">Xem chi tiết</button>
                    </div>
                </div>
            </div>

            <div class="viewCart" id="cart">
                <h2>Giỏ hàng</h2>
                <div class="item">
                </div>
                Tổng tiền: <p>0</p>
                <button id="toPay">Thanh toán</button>
                <button id="closeCartBtn">Đóng</button>
            </div>
        </div>

        <script th:src="@{/scriptHome.js}"></script>
    </body>
</html>