<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Book Store</title>
    <link rel="stylesheet" th:href="@{/styleHome.css}">
</head>

<body>
    <div class="main">
        <div class="top-taskbar">
            <button id="goHomeBtn">Book Store</button>
            <form id="searchForm">
                <input type="text" placeholder="Tìm kiếm" id="searchInput">
            </form>
            <p th:text="${userName}" id="userNameP"></p>
            <button id="signupBtn">Đăng ký</button>
            <button id="cartBtn">Giỏ hàng</button>
        </div>

        <div class="main-view">
            <div class="sidebar">
                <div class="optionDiv">
                    <p id="literatureBook">Văn học Việt Nam</p>
                    <p id="itBook">Sách công nghệ thông tin</p>
                    <p id="scienceBook">Sách khoa học</p>
                    <p id="comicBook">Truyện tranh</p>
                    <p id="novel">Tiểu thuyết</p>
                </div>

                <p id="logoutBtn">Đăng xuất</p>
            </div>

            <div class="main-view2">
                <div class="viewBook" th:each="book : ${books}">
                    <img th:src="${book.urlImg}">
                    <p th:text="${book.name}"></p>
                    <button class="addToCart" th:data-book-id="${book.bookId}">Thêm vào giỏ hàng</button>
                    <button class="viewDetailBtn" th:data-book-id="${book.bookId}">Xem chi tiết</button>
                </div>
            </div>
        </div>

        <div class="viewCart" id="cart">
            <h2>Giỏ hàng</h2>
            <div class="item" id="itemsInCart">
            </div>
            <p id="totalLabel"></p>
            <div class="btnDiv">
                <button id="payBtn">Thanh toán</button>
                <button id="updateCart">Cập nhật giỏ hàng</button>
            </div>
            <p id="discountInform"></p>
        </div>

        <div class="inforCloneUser" id="inforClone">
            <h2>Nhập thông tin khách hàng</h2>

            <p>Họ và tên</p>
            <input id="nameInput" type="text" required>

            <p>Email</p>
            <input id="mailInput" type="email" required>

            <div class="btnDiv">
                <button class="acptInforClone">Xác nhận</button>
                <button class="goBackInforClone">Quay lại</button>
            </div>
        </div>
    </div>

    <div class="backdrop" id="modal"></div>

    <div class="backdrop" id="waiting">
        <img src="https://res.cloudinary.com/dsrecf30u/image/upload/v1775634843/rajinikanth_grfrwm.gif">
    </div>

    <script th:src="@{/scriptHome.js}"></script>
    <script th:src="@{/scriptModul.js}"></script>
</body>

</html>